@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>


<div class="row box">
    <div class="col-sm-8 animated slideInLeft" style="padding-right:15px;">
        <div class="about-us inner josefin-font">
            <!-- ABOUT PARAGRAPH HERE -->
            <div class="about-us-p .bgBorder">
                @*<span class="glyphicon glyphicon-plus"></span>*@
                <h3>
                    86.3% of drug overdose deaths in 2016 in Ohio were from opioids.
                </h3>
                <p>
                    The idea for Hope 4 Ohio was to reduce the amount of overdose deaths in ohio by
                    developing a database for patients to check their local clinics available space for opioid assistance.
                </p>
            </div>
        </div>
    </div>

    <div class="row box">
        <div class="col-sm-4">
            <div class="contact inner">
                <div class="contact-font">
                    <!-- CONTACT INFORMATION-->
                    <p>Hope 4 Ohio</p>
                    <div class="fontWhite">
                    <p>555-555-5555</p>
                    </div>
                    <p>Hope4Ohio.com</p>
                    <br />
                    <p>132 main st</p>
                    <p>Akron, OH 44313</p>
                    <br />
                    <br />
                    <br />
                    <p>Connect with us</p>
                    <p>
                        <a href="#"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
                        <span> </span>
                        <a href="#"><span><i class="fa fa-facebook-official" aria-hidden="true"></i></span></a>
                        <span> </span>
                        <a href="#"><span><i class="fa fa-rss" aria-hidden="true"></i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row box DarkBlueBG">
        <div class="col-sm-12 ">
            <!-- MEET THE TEAM -->
            <center><h1 id="meet">Meet the team behind Hope 4 Ohio.</h1></center>
            <br />
        </div>

        <div class="row box">
            <!-- PERSON 1 -->
            <div class="col-sm-6">
                <h2>Greg Moten Jr</h2>
                <h3>Software Developer</h3>
                <p><i class="fa fa-github" aria-hidden="true"></i>  <a href="https://github.com/gregmotenjr">github.com/gregmotenjr</a></p>
                <p><i class="fa fa-linkedin-square" aria-hidden="true"></i>  <a href="https://www.linkedin.com/in/gregmotenjr">linkedin.com/in/gregmotenjr</a></p>
            </div>
        </div>
        <hr />

        <!-- PERSON 2 -->
        <div class="col-sm-6">
            <h2>Jaime Meeker</h2>
            <h3>High School Student</h3>
            <div class="fontWhite">
            <p><i class="fa fa-github" aria-hidden="true"></i>  <a style="color:white" href="https://github.com/jameeker">github.com/jameeker</a></p>
                </div>
        </div>
        <hr />

        <div class="row box">
            <!-- PERSON 3 -->
            <div class="col-sm-6">
                <h2>Sara Al-Nimer</h2>
                <h3>Biomedical Engineer Student</h3>
                 <p><i class="fa fa-linkedin-square" aria-hidden="true"></i>  <a href="https://www.linkedin.com/in/sara-al-nimer-a3b93885/">linkedin.com/in/sara-al-nimer-a3b93885/</a></p>
            </div>
        </div>
    </div>

</div>
