@{
    ViewBag.Title = "Home Page";
}
<!--Tile-->
<div class="row">
    <div class="col-md-12">
        <h1>Hope 4 Ohio</h1>
    </div>
</div>
    <br/>
<!--Image-->
<div class="row">
    <div class="col-md-12 imgFit img-responsive">
    <img style="max-width:100px; max-height:100px;" src="~/Content/flower.png" />
        </div>
</div>

<!--Lotus Flower Animantion-->
@*<div class="row lotus">
    <div class="col-md-12">
        <i><i><i><i><i><i></i></i></i></i></i></i>
    </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>

<script src="js/index.js"></script>*@
    
<div class="col-md-12">
    <h2>Struggling with Addiction?</h2>
    <p>Click below to find a treatment clinic near you now</p>
</div>

<!-- Drop Down-->
<div class="row col-md-12">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            What City Are You Close To?
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="~/Clinics/Details/2">Akron</a></li>
            <li><a href="~/Clinics/Details/3">Cleveland</a></li>
            <li><a href="~/Clinics/Details/4">Columbus</a></li>
            <li><a href="~/Clinics/Details/6">Youngstown</a></li>
        </ul>
    </div>
</div>

<div class="col-md-4">
    <h3>Don't wait! Get the help you need today!</h3>
    <p>Additional resources can be found here</p>
    <p><a class="btn btn-default" href="~/Content/Opioid Facts and Resources.docx">Click Here To Download &raquo;</a></p>
    
</div>

<!--Loading Screen-->
@*<div id="SplashScreen">
        <div class="Loader col l12 m12 s12">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </div>*@
