@{
    ViewBag.Title = "Home Page";
}

@*<div>
    <h1>Hope 4 Ohio</h1>
    </br>
    </br>
    </br>
    </br>
    <i><i><i><i><i><i></i></i></i></i></i></i>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>

    <script src="js/index.js"></script>
</div>*@

<!-- Drop Down-->
<div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            What City Are You Close To?
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Akron</a></li>
            <li><a href="#">Cleveland</a></li>
            <li><a href="#">Columbus</a></li>
            <li><a href="#">Youngstown</a></li>
        </ul>
    </div>
</div>


<!--Loading Screen-->
@*<div id="SplashScreen">
        <div class="Loader col l12 m12 s12">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </div>*@


@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@