body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Dosis', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.DarkBlueBG {
    background: linear-gradient(#2980b9,#2980b9,#bdc3c7);
}

.bgBorder {
    border-style: solid;
    border-color:red;
    border-width:5px;
} 

.fontWhite{
    color:white;
}

p a{
    color:white;
}

imgFit{
    max-height:100px;
    max-width:100px;
}